In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
ratings = pd.read_csv("title.ratings.tsv.gz", sep="\t")
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1981
1        tt0000002            5.8       264
2        tt0000003            6.5      1835
3        tt0000004            5.5       178
4        tt0000005            6.2      2623
...            ...            ...       ...
1321870  tt9916730            8.3        10
1321871  tt9916766            7.0        21
1321872  tt9916778            7.2        36
1321873  tt9916840            7.5         7
1321874  tt9916880            7.0         7

[1321875 rows x 3 columns]

In [3]:
basics = pd.read_csv("title.basics.tsv.gz", sep="\t")
basics

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9944478,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9944479,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9944480,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9944481,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9944482,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [4]:
movies=basics.merge(ratings)

In [5]:
movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1981
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.8,264
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1835
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.5,178
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2623
...,...,...,...,...,...,...,...,...,...,...,...
1321870,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N,8.3,10
1321871,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Game-Show,Reality-TV",7.0,21
1321872,tt9916778,tvEpisode,Escape,Escape,0,2019,\N,\N,"Crime,Drama,Mystery",7.2,36
1321873,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy",7.5,7
1321874,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",7.0,7

In [10]:
movies.corr()

               averageRating  numVotes
averageRating        1.00000   0.01048
numVotes             0.01048   1.00000

In [15]:
import re
def get_first(text):
    test = re.match(r'\W*(\w[^,. !?"]*)', text).groups()[0]
    return test

movies['new'] = movies.genres.str.split(',', expand=True)[0]
movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,new
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1981,Documentary
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.8,264,Animation
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1835,Animation
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.5,178,Animation
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2623,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...
1321870,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N,8.3,10,\N
1321871,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Game-Show,Reality-TV",7.0,21,Family
1321872,tt9916778,tvEpisode,Escape,Escape,0,2019,\N,\N,"Crime,Drama,Mystery",7.2,36,Crime
1321873,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy",7.5,7,Adventure
1321874,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",7.0,7,Adventure

In [22]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
movies['new']= label_encoder.fit_transform(movies['new'])

movies['new'].unique()

array([ 7,  3,  5, 22, 20, 18,  8, 10, 14,  4, 15,  6,  9,  2,  0, 13, 28,
       17, 26, 21, 27, 25, 16, 11, 23, 12, 24,  1, 19, 29])

In [29]:
movies.corr()

               averageRating  numVotes       new
averageRating       1.000000  0.010480 -0.074305
numVotes            0.010480  1.000000 -0.027071
new                -0.074305 -0.027071  1.000000

O intuito do trabalho é analisar a base de dados do IMDB, um site que possui uma base de dados online de informação sobre cinema, TV, música e etc. Os dataframes escolhidos para análise são os títulos de filme e as avaliações, que foram mesclados em um só dataframe para viabilizar uma análise preditiva entre as variáveis.
Inicialmente, foi testada a relação o número de votos e o avaliação do filme de 0 a 10, no entanto, o resultado não foi satisfatório a ponto de iniciar uma regresão linear poris mostrou uma baixa correlação.
Logo após, separamos as strings dentro da coluna de gêneros, a fim de manter somente o primeiro gênero, e assim relacionar cada gênero a um número para testar a relação númerica entre a avalição dos filmes e o seu gênero. 
Todavia, mesmo com todas as tentativas de manipular a base de dados e encontrar uma correlação para aplicar um modelo preditivo para avaliação de filmes, não foi possível encontrar uma correlação forte o suficiente entre as variáveis disponíveis, o que inviabiliza o trabalho.